.main{
  margin-left: 15rem;
  transition: .4s all ease;
  background: var(--dark);
  border-bottom-left-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  min-height: 100vh;
  position: relative;
  z-index: 920;
}

.content {
  margin-top: -3rem;
  padding: 0 2rem;
  position: relative;
  z-index: 999999;
  min-height: 73vh;
  display: flex;
  flex-direction: column;
  & > div:first-child {
    flex-grow: 1;
  }
}

.title{
  position: absolute;
  left: 2rem;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
  line-height: 1;

  span{
    font-size: 1.2rem;
  }
  h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }
}

.header{
  position: relative;
  height: 17rem;
  
  @keyframes animScale {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.125);
    }
    to{
      transform: scale(1);
    }
  }
  &__inner{
    border-bottom-left-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      animation: animScale 8s .5s ease-in-out infinite;
    }
  }
}