.table{
  overflow-x: auto;
  table{
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td{
    padding: .9rem;
    text-align: left;
    vertical-align: middle;
  }
  th{
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 1px solid rgba(164, 164, 164, 0.1);
  }

  tr{
    td{
      border-bottom: 1px solid rgba(164, 164, 164, 0.1);
    }
    &:last-child{
      td{
        border: 0;
      }
    }
  }

  tbody tr{
    border-radius: 1rem;
    transition: .4s all ease;
    &:hover{
      background: rgba(255, 255, 255, 0.03);
    }
  }
}